@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h4>BY: NANCY KARINA RIVERA RODRIGUEZ</h4>

<h1 style="text-align:center">4LPHA TECHNOLOGIES </h1>
<div style="text-align:center">

    <img style="width:750px" src="https://www.4-alpha.com/img/about/Logo_Nosotros.jpg" />

</div>
